<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link rel="icon" href="/static/Assets/site-icon.png" type="image/x-icon" />
  <link rel="stylesheet" href="/static/styles_Works.css">
  <title>Metanexi / How it Works?</title>
</head>

<body class="bg-image">

  <!-- Navigation Bar -->
  <header class="header-bg">
    <nav class="navbar navbar-expand-lg navbar_size">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="/static/Assets/Logo.png"></a> <!-- Logo Here -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto  mb-2 mb-lg-0">
            <li class="nav-item px-1">
              <a class="nav-link text-secondary" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link active text-white " href="/How-it-Works">How it works?</a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link  text-secondary" href="/Assets-Library">Assets Library</a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link text-secondary" href="/3d-Editor">3d Editor</a>
            </li>
          </ul>

          <a href="/Upload-Video"><button class="btn custom-btn" type="button" href="/Upload-Video">Upload your
              video</button></a>

        </div>
      </div>
    </nav>
  </header>

  <!-- 1. Hero Section --------------------------------------------------------------------------------------->

  <section class="hero-section">
    <div class="container" >
      <div class="text-center">
        <h1 class="text-white fw-medium h1_size align-middle">
          Generate 3d character on a <span style="color: #3975FF;"> single</span> click!
        </h1>
        <p class="hero_p">
          Explore the magic of Metanexi with our streamlined process <br>Simply upload your video, and with a single
          click, witness the transformation into mesmerizing 3D characters. Effortless creativity at your fingertips!
        </p>
      </div>
  </section>

  <!-- Process Section ----------------------------------------------------------------------------------------->

  <section class="proceses_con">
    <div class="container text-center">

      <div class="row">
        <div class="col-12">
          <h2 class="Process_h2">How it Works?</h2>
          <p class="sec_p">Discover how Metanexi effortlessly converts your videos into stunning 3D characters.
            Follow our simple process to witness your creations come alive.</p>
        </div>
      </div>

      <div class="row  align-items-center justify-content-center">
        <div class="col-md-8 ">
          <div class="step-container">

            <div class="step position-relative">
              <div class="step-icon"><img src="/static/Assets/process_001.svg" alt="" class="process_img"></div>
              <div class="step-content">
                <h3>Upload Your Video</h3>
                <p class="step_p">Begin by uploading your video footage to our platform. Choose a video featuring a
                  person.</p>
              </div>
            </div>

            <div class="step">
              <div class="step-content">
                <h3 id="process_sec_h3">AI-Powered Conversion</h3>
                <p class="step_p_sec">Our advanced AI algorithms analyze the video, extracting key data to create a
                  lifelike 3D model.</p>
              </div>
              <div class="step-icon"><img src="/static/Assets/process_003.svg" alt="" class="process_img"></div>
            </div>

            <div class="step">
              <div class="step-icon"><img src="/static/Assets/process_002.svg" alt="" class="process_img"></div>
              <div class="step-content">
                <h3>Access Your 3D Model</h3>
                <p class="step_p">Download your transformed 3D character ready for rendering.
                  Visualize it from different angles.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <button class="process-btn" type="button">Upload your video</button>
    </div>
  </section>

  <!-- FAQs Section ----------------------------------------------------------------------------------------->

  <section class="faqs_con">
    <div class="container justify-content-center align-items-center">

      <div class="row">
        <div class="col-12">
          <h2 class="Process_h2">FAQ's</h2>
          <p class="sec_p">Unlock insights and answers about Metanexi with our frequently asked questions.</p>
        </div>
      </div>

      <details open>
        <summary>What is Lorem Ipsum?</summary>
        <div class="faq-content">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.</p>
        </div>
      </details>

      <details>
        <summary>Why do we use it?</summary>
        <div class="faq-content">
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
            letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>
      </details>
      <details>
        <summary>Where does it come from?</summary>
        <div class="faq-content">
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words</p>
        </div>
      </details>
      <details>
        <summary>Where can I get some?</summary>
        <div class="faq-content">
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </details>

    </div>

  </section>

  <!-- Tutorial Section ----------------------------------------------------------------------------------------->

  <section class="faqs_con">
    <div class="container text-center">

      <div class="row">
        <div class="col-12">
          <h2 class="Process_h2">Unlock the Power of Metanexi</h2>
          <p class="sec_p">Embark on your 3D journey with our step-by-step video tutorial. Learn how to effortlessly
            convert your videos into stunning 3D characters and explore the creative possibilities with Metanexi.</p>
        </div>

        <div class="video-container">
          <!-- Replace the URL with your YouTube video URL -->
          <iframe width="560" height="315" src="https://www.youtube.com/watch?v=d8FYCHpydYU&t=7s" frameborder="0"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>

  </section>


  <!--Footer Section-->
  <section class="footer">
    <!-- Footer -->
    <footer class="footer">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <img src="/static/Assets/Logo.png"></a>

            <p class="footer_p">
              Metanexi offers a suite of innovative tools
              designed to simplify your journey into the world of 3D modeling.
            </p>

            <div class="footer_icons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>
            </div>


          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0" class="footer_link">
            <h5>Quick links</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="/"><button>Home</button></a>
              </li>
              <li>
                <a href="/Upload-Video"><button>Generate 3d character</button></a>
              </li>
              <li>
                <a href="/3d-Editor"><button>3d editor</button></a>
              </li>
              <li>
                <a href="/Assets-Library"><button>Assets Library</button></a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0" class="footer_link">
            <h5>Support</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="/Help"><button>Help</button></a>
              </li>
              <li>
                <a href="/How-it-Works"><button>FAQ's</button></a>
              </li>
              <li>
                <a href="/Contact"><button>Contact us</button></a>
              </li>
              <li>
                <a href="/Team"><button>Our Team</button></a>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <!-- Copyright -->
      <div class="text-center p-3">
        © 2024 Copyright:
        <button class="footer_copyright">Metanexi.ai</button>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>

</body>

</html>