<!-- product_details.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link rel="stylesheet" href="/static/product_details.css">
  <link rel="icon" href="/static/Assets/site-icon.png" type="image/x-icon" />
  <title>Product Details</title>
</head>

<body class="bg-image">

  <!-- Navigation Bar -->

  <header class="header-bg">
    <nav class="navbar navbar-expand-lg navbar_size">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="Assets\Logo.png"></a> <!-- Logo Here -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto  mb-2 mb-lg-0">
            <li class="nav-item px-1">
              <a class="nav-link text-secondary" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link text-secondary" href="/How-it-Works">How it works?</a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link  active text-white " href="/Assets-Library">Assets Library</a>
            </li>
            <li class="nav-item px-1">
              <a class="nav-link text-secondary" href="/3d-Editor">3d Editor</a>
            </li>
          </ul>

          <a href="/Upload-Video"><button class="btn custom-btn" type="button" href="/Upload-Video">Upload your
              video</button></a>

        </div>
      </div>
    </nav>
  </header>

  <div class="container product_con">
    <!-- First Row -->
    <div class="row mt-5  ">
      <!-- Image Column -->
      <div class="col-md-6 col-sm-12">
        <img src="{{ url_for('download', file_id=product.preview_image_id) }}" alt="Preview Image"
          class="preview-image">
      </div>

      <!-- Content Column -->
      <div class="col-md-6 col-sm-12">
        <h2 class="title">{{ product.title }}</h2>

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <p class="heading_details">Category</p>
            <p class="db_details"> {{ product.category }}</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <p class="heading_details">File Type</p>
            <p class="db_details"> {{ product.file_type }}</p>
          </div>
        </div>

        <a href="{{ url_for('download', file_id=product.source_file_id) }}" class="btn download_btn ">Download Source
          File</a>
      </div>
    </div>

    <!-- Second Row for Description -->
    <div class="row content-section">
      <div class="col-12">
        <p class="heading_details mt-4 mb-1">Description</p>
        <p class="description">{{ product.description }}</p>
      </div>
    </div>
    <div>
      <p class="heading_details mt-3 mb-1">Tags</p>
      {% for tag in product.tags %}
      <span class="product-tag">{{ tag }}</span>
      {% endfor %}
    </div>
  </div>

  <!-- Similar Products Section -->
  <div class="container mb-5">
    <hr>
    <h2 class="category_heading">More in <span style="color: #3975FF;">{{ product.category }}</span> Category</h2>
    {% if category_products %}
    <div class="row row-cols-1 row-cols-md-3 g-4">

      {% for item in category_products %}
      <div class="col">

        <div class="card product-card" onclick="window.open('/product/{{ product._id }}', '_blank')"
          href="/product/{{ product._id }}">
          <img src="{{ url_for('download', file_id=product.preview_image_id) }}" alt="Preview Image"
            class="card-img-top product-image">
          <div class="card-body">
            <strong class="card-title">{{ product.title }}</strong>
            <hr>
            <strong class="small_card">{{ product.category }}</strong>
            <strong class="small_card">{{ product.file_type }}</strong>
          </div>
        </div>

      </div>
      {% endfor %}
    </div>
    {% else %}
    <p>No other products in this category.</p>
    {% endif %}
  </div>

 <!--Footer Section-->
 <section class="footer">
  <!-- Footer -->
  <footer class="footer">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <img src="/static/Assets/Logo.png"></a>

          <p class="footer_p">
            Metanexi offers a suite of innovative tools
            designed to simplify your journey into the world of 3D modeling.
          </p>

          <div class="footer_icons">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
          </div>


        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0" class="footer_link">
          <h5>Quick links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/"><button>Home</button></a>
            </li>
            <li>
              <a href="/Upload-Video"><button>Generate 3d character</button></a>
            </li>
            <li>
              <a href="/3d-Editor"><button>3d editor</button></a>
            </li>
            <li>
              <a href="/Assets-Library"><button>Assets Library</button></a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0" class="footer_link">
          <h5>Support</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/Help"><button>Help</button></a>
            </li>
            <li>
              <a href="/How-it-Works"><button>FAQ's</button></a>
            </li>
            <li>
              <a href="/Contact"><button>Contact us</button></a>
            </li>
            <li>
              <a href="/Team"><button>Our Team</button></a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <!-- Copyright -->
    <div class="text-center p-3">
      © 2024 Copyright:
      <button class="footer_copyright">Metanexi.ai</button>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>